{% extends './base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="wrap-mindnote">
        <div class="mindnote">
            <div class="header" style="text-align : center;">
                <h2>
                    <img src="{% static 'profiles/images/ai_talk_logo.png' %}" width="400" height="140">
                </h2>
                <h2>
                    순이가 대화 분석을 완료했어요!
                </h2>
                <br>
                <br>
                <p>{{name}}님은 "{{ai_anal_max1}}"와 "{{ai_anal_max2}}"라는 키워드를 가장 많이 말씀하셨어요!</p>
                <p>해당 키워드로부터 제가 {{name}}님이 가장 좋아하실만한 추천 프로그램을 몇가지 짜봤어요!</p>
                <br>
                <br>
                <li>
                    <h2>
                        1. {{ai_rec_max1}}
                        {% if ai_rec_max1 == "TV프로그램"%}
                        <br>
                        <br>
                            <img src="{% static 'profiles/images/TV.png' %}" width="525" height="380">
                            <p> {{name}}님과의 대화분석을 통한결과! TV프로그램을 시청해주는것이 좋을것같아요. 요즘 TV속에서는 없는 컨텐츠가없답니다. 지루할틈이없을거에요!</p>
                        {% elif ai_rec_max1 == "수면음악"%}
                        <br>
                        <br>
                            <img src="{% static 'profiles/images/수면음악.png' %}" width="525" height="380">
                            <p> {{name}}님과의 대화분석을 통한결과! 수면음악을 들어주는것이 좋을것같아요. 잘때 잔잔한 노래는 숙면에 매우 큰 도움이 된답니다.</p>
                        {% elif ai_rec_max1 == "실내운동"%}
                        <br>
                        <br>
                            <img src="{% static 'profiles/images/실내운동.png' %}" width="525" height="380">
                            <p> {{name}}님과의 대화분석을 통한결과! 실내에서 운동을 해주는것이 좋을것같아요. 미세먼지 걱정도없고 실내에서도 간단한 운동만으로 건강을 유지할수있답니다!</p>
                        {% elif ai_rec_max1 == "여행지"%}
                        <br>
                        <br>
                            <img src="{% static 'profiles/images/여행지.png' %}" width="525" height="380">
                            <p> {{name}}님과의 대화분석을 통한결과! 여행지로 떠나보는것이 어떨까요? 여행을 간다는것은 항상 마음을 설레게하죠. 더늦기전에 지금당장 떠나보기!</p>
                        {% elif ai_rec_max1 == "치매예방활동"%}
                        <br>
                        <br>
                            <img src="{% static 'profiles/images/치매.png' %}" width="525" height="380">
                            <p> {{name}}님과의 대화분석을 통한결과! 치매예방 종합활동이 필요해보여요 ㅜㅜ... 저희가 매주 치매예방활동을 주최하는것이 있는데 이번주부터 참여해봐도 좋을것같아요!</p>
                        {% endif %}
                    </h2>
                </li>
                <li>
                    <h2>
                        2. {{ai_rec_max2}}
                        {% if ai_rec_max2 == "복약시간"%}
                            <p> {{name}}님께 추천해드릴 두번째 프로그램은! 약 꼭꼭 챙겨먹기 입니다. 약을 정해진 시간때 안먹거나, 식사안하고 먹기, 아니면 아예 안먹는것은 사실 건강에 큰 해를 끼친답니다.</p>
                        {% elif ai_rec_max2 == "수면시간"%}
                            <p> {{name}}님께 추천해드릴 두번째 프로그램은! 수면시간 늘리기 입니다. 최소 6시간 이상은 숙면을 취해줘야 두뇌가 깨어있을때 활성화되어있을수있어요.</p>
                        {% elif ai_rec_max2 == "활동시간"%}
                            <p> {{name}}님께 추천해드릴 두번째 프로그램은! 활동시간 늘리기 입니다. 너무 실내에 있으시는 시간이 길어요. 가끔 날씨좋은날은 밖에나가서 활동적인 일을 해보는게 좋답니다.</p>
                        {% endif %}
                    </h2>
                </li>
                <br>
                <br>
                <h2>
                    현재 {{name}}님의 대화참여빈도는 {{response_rate}}%입니다. 전체사용자의 평균 대답빈도 9.69%{% if response_rate >= 9.69%}를 상회하시네요! 지금처럼만 계속해주시면 저도 계속해서 좋은 프로그램을 추천할수있을것 같아요!{%else%}에좀 부족한편이에요. 더 정확한 추천프로그램을 받기위해서는 대답빈도가 더 높아야한답니다 ㅠㅠ{%endif%}
                </h2>
            </div>
        </div>
    </div>
</body>
{% endblock content %}