{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>라이프로그</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'profiles/css/styles2.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff">
</head>
<body>
    <div class="menu">
        <h1><a href='/profiles/'><img src="{% static 'profiles/images/logo04.png' %}" ></a></h1>
        <ul>
            <li><a href="/profiles/?input_id={{user_id}}">프로필</a></li>
            <li><a href="/profiles/{{user_id}}">생활 규칙성</a></li>
            <li><a href="/profiles/{{user_id}}/ai_talk">순이 대화분석</a></li>
            <li><a href="/profiles/{{user_id}}/health_anal">건강분석</a></li>
        </ul>
    </div>
    
    {% block content %}
    {% endblock content %}
</body>