{% extends './base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="wrap-mindnote">
        <div class="mindnote">
            <div class="header" style="text-align : center;">
                <h2>
                    <img src="{% static 'profiles/images/profile_title.png' %}">
                </h2>
                <!--
                <div class="menu_img">
                    <img src="{% static 'profiles/images/total_avg.png' %}">
                </div> -->
                {% if sex == 'M'%}
                    <img src="{% static 'profiles/images/grandpa.png'%}" width="500" height="500">
                {% else %}
                    <img src="{% static 'profiles/images/grandma.png'%}" width="500" height="500">
                {% endif %}
                    <li>
                        <p>{{name}}님 안녕하세요 </p>
                    </li>
                    <li>
                        <p>나이: {{age}}세 </p>
                    </li>
                    <li>
                        {% if sex == 'M'%}
                            <p>성별: 남성</p>
                        {% else %}
                            <p>성별: 여성</p>
                        {% endif %}
                    </li>
            </div>
        </div>
    </div>
</body>
{% endblock content %}