{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>라이프로그</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'profiles/css/styles2.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
</head>

<body> 
    <div class="wrap-intro">
        <form action="/profiles/">
            {{form}}
            <input type="submit" value ="찾기">
        </form>
        <h1><img src="{% static 'profiles/images/logo05.png' %}" ></h1>
        <p>당신들의 건강을 책임집니다.<br>순이와 함께 긍정적인 생활 습관을 기르고 행복에 익숙해지세요.</p>
    </div>
</body>
</html>

<!---->


