{% extends './base.html' %}
{% load static %}
{% block content %}
<html>
<body>
    <div class="wrap-mindnote">
        <div class="mindnote">
            <div class="header" style="text-align : center;">
                <h2>
                    <img src="{% static 'profiles/images/life_env_logo.png' %}">
                </h2>
                <div class="menu_img">
                    {{graph3|safe}}
                    <p>전체 사용자의 27%는 TV시청, 20%는 휴식, 14%는 외출, 10%는 음식출납, 8%가 프로그램참여를 가장 선호했어요. 평균적으로 여가시간에 가장 많은 시간을 썻답니다.</p>
                </div> 
                {{graph|safe}}
                <h2>
                    {% if anal_max1 == '휴식'%}
                        <p>{{name}}씨는 휴식을 제일 많이 취하시네요. 많이 쉬는것만큼 중요한게 없죠!</p>
                    {% elif  anal_max1 == '환기'%}
                        <p>{{name}}씨는 환기를 제일 많이 하시네요. 적당한 환기는 실내 공기 순환에 좋답니다~! 자기전엔 꼭 닫고 자세요!</p>
                    {% elif  anal_max1 == '프로그램 참여'%}
                        <p>{{name}}씨는 프로그램에 되게 많이 참여하시고 계세요~ 활동적인것은 노년 건강에 매우 좋답니다!</p>
                    {% elif  anal_max1 == '취침'%}
                        <p>{{name}}씨는 잠꾸러기시네요! 그치만 너무 긴 시간의 취침도 사실은 좋지 않답니다~</p>
                    {% elif  anal_max1 == '주방정리'%}
                        <p>{{name}}씨는 허리건강에 유의하셔야 할것같아요! 주방일이 너무많으면 도움을 청하는 것도 방법이랍니다.</p>
                    {% elif  anal_max1 == '음식출납'%}
                        <p>{{name}}씨는 음식을 잘 드시고 계세요. 지금처럼만 영양섭취 계속해주시면 좋을것같아요!</p>
                    {% elif  anal_max1 == '음식데우기'%}
                        <p>{{name}}씨는 음식을 따뜻하게 드시는 편이네요~ 장건강을 위해서 찬음식은 자제하는게 좋답니다! 지금처럼만 계속해요~!</p>
                    {% elif  anal_max1 == '용변'%}
                        <p>{{name}}씨는 화장실을 자주가시는 편이에요. 너무 안가는것도 문제지만 너무 자주가는것도 문제랍니다! 식습관에 대해서 저희와 상담 받아보세요!</p>
                    {% elif  anal_max1 == '외출'%}
                        <p>{{name}}씨는 외출시간이 정말 많네요! 가벼운 산책은 건강유지에 큰 도움이 된답니다.</p>
                    {% elif  anal_max1 == '실내운동'%}
                        <p>{{name}}씨는 실내에서 운동을 많이하시네요. 미세먼지가 나쁜날은 실내운동이 최고죠! 오늘처럼 날씨좋은날은 밖에도 한번 나가봐요~!</p>
                    {% elif  anal_max1 == '복약'%}
                        <p>{{name}}씨는 약을 안거르시고 잘 드셨네요! 의사의 처방에 따라 약은 꼭꼭 지금처럼 잘 드셔야합니다!</p>
                    {% elif  anal_max1 == '낮잠기상, TV시청'%}
                        <p>{{name}}씨는 집안에서 여가시간을 많이 보내시네요! 그렇지만 잦은 낮잠은 몸에 해로울수있답니다. TV시청시에도 꼭! 허리는 피시고 좋은 자세로 봐요!</p>
                    {% elif  anal_max1 == '기상, 환기'%}
                        <p>{{name}}씨는 환기를 제일 많이 하시네요. 적당한 환기는 실내 공기 순환에 좋답니다~! 자기전엔 꼭 닫고 자세요!</p>
                    {% elif  anal_max1 == '귀가, 실내운동'%}
                        <p>{{name}}씨는 실내에서 운동을 많이하시네요. 미세먼지가 나쁜날은 실내운동이 최고죠! 오늘처럼 날씨좋은날은 밖에도 한번 나가봐요~!</p>
                    {% elif  anal_max1 == 'TV시청'%}
                        <p>{{name}}씨는 집안에서 여가시간을 많이 보내시네요! TV시청시에는 꼭! 허리는 피시고 좋은 자세로 봐요!</p>
                    {% endif %}
                </h2>
                {{graph2|safe}}
                <h2>
                    {% if anal_min1 == '휴식'%}
                        <p>{{name}}씨는 휴식이 부족해요! 운동도 좋고 집안일도 좋지만 가끔은 아무것도 없이 푹 쉬는것도 중요하답니다!</p>
                    {% elif  anal_min1 == '간식'%}
                        <p>{{name}}씨는 간식을 너무 안드세요. 삼시세끼 밥말고도 중간중간 적당한 양의 간식이 들어가야 건강을 유지할수 있답니다!</p>
                    {% elif  anal_min1 == '귀가'%}
                        <p>{{name}}씨는 외출이 잦은것같아요. 귀가시 손꼭씻는것! 잊지마세요~</p>
                    {% elif  anal_min1 == '귀가, 복약'%}
                        <p>{{name}}씨는 복약시간이 안맞아요. 심지어는 빼먹는 경우도 많습니다. 다음부턴 복약 신경써서 해주세요!</p>
                    {% elif  anal_min1 == '귀가, 음식데우기'%}
                        <p>{{name}}씨는 음식을 잘 안데우고 드시네요. 장건강에 찬음식은 좋지않답니다. 꼭 데워 드시는 습관을 기르시는게 좋을것같아요!</p>
                    {% elif  anal_min1 == '귀가, 음식출납'%}
                        <p>{{name}}씨는 외출이 잦은것같아요. 귀가시 손꼭씻는것! 잊지마세요~</p>
                    {% elif  anal_min1 == '귀가, 전자레인지청소'%}
                        <p>{{name}}씨는 전자레인지 청소한지가 너무 오래됐답니다. 주기적으로 전자레인지 내부를 청소해줘야 청결하게 식사를 하실수 있어요!</p>
                    {% elif  anal_min1 == '귀가, 주방정리'%}
                        <p>{{name}}씨는 주방을 잘 정리안하시는 편이군요! 식기들을 제때제때 정리안하면 나중가서는 매우 귀찮아진답니다. 꼭 식후에 바로 치울수있도록 해요!</p>
                    {% elif  anal_min1 == '기상'%}
                        <p>{{name}}씨는 수면이 부족한것같아요. 최소한 6시간을 숙면을 취해야 다음날 개운하게 생활할수있답니다! 오늘부턴 일찍 자보도록 해요.</p>
                    {% elif  anal_min1 == '기상, 복약'%}
                        <p>{{name}}씨는 수면이 부족한것같아요. 최소한 6시간을 숙면을 취해야 다음날 개운하게 생활할수있답니다! 오늘부턴 일찍 자보도록 해요.</p>
                    {% elif  anal_min1 == '낮잠'%}
                        <p>{{name}}씨는 낮잠을 자지를 않는군요! 적당한 양의 낮잠은 뇌를 활성화시켜준답니다.</p>
                    {% elif  anal_min1 == '낮잠기상'%}
                        <p>{{name}}씨는 수면이 부족한것같아요. 최소한 6시간을 숙면을 취해야 다음날 개운하게 생활할수있답니다! 오늘부턴 일찍 자보도록 해요.</p>
                    {% elif  anal_min1 == '냉장고정리'%}
                        <p>{{name}}씨는 냉장고 정리하신지 너무 오래되셨어요. 냉장고내부는 박테리아가 음식물에 있을수있어 주기적으로 청소를 해주어야한답니다.</p>
                    {% elif  anal_min1 == '늦은기상'%}
                        <p>{{name}}씨는 수면이 부족한것같아요. 최소한 6시간을 숙면을 취해야 다음날 개운하게 생활할수있답니다! 오늘부턴 일찍 자보도록 해요.</p>
                    {% elif  anal_min1 == '밥솥정리'%}
                        <p>{{name}}씨는 밥솥을 잘 정리를 안하시네요! 밥솥도 엄연히 청결하게 관리해야할 주방기구중 하나랍니다. 오늘 꼭 청소해보도록 해요!</p>
                    {% elif  anal_min1 == '복약'%}
                        <p>{{name}}씨는 복약시간이 안맞아요. 심지어는 빼먹는 경우도 많습니다. 다음부턴 복약 신경써서 해주세요!</p>
                    {% elif  anal_min1 == '새벽TV'%}
                        <p>{{name}}씨는 여가시간이 부족한것같아요. TV를 시청하는것도 하나의 방법이랍니다.</p>
                    {% elif  anal_min1 == '새벽용변'%}
                        <p>{{name}}씨는 용변시간이 부족해요! 장건강을 위해서라도 주기적으로 화장실을 가주어야합니다. 유산균을 섭취하는것도 하나의 방법이에요!</p>
                    {% elif  anal_min1 == '새벽음식출납'%}
                        <p>{{name}}씨는 음식을 잘 안드시고 출납하는경우가 많으세요. 꼭! 건강을 위해서 음식을 다먹도록 해주세요!</p>
                    {% elif  anal_min1 == '설거지'%}
                        <p>{{name}}씨는 설거지를 모아서 하는 편이시네요. 한꺼번에 몰아서하는것보다 하나하나 간단하게 빨리 끝내는게 더 좋답니다!</p>
                    {% elif  anal_min1 == '식사'%}
                        <p>{{name}}씨는 음식을 잘 안드시고 출납하는경우가 많으세요. 꼭! 건강을 위해서 음식을 다먹도록 해주세요!</p>
                    {% elif  anal_min1 == '식사중TV'%}
                        <p>{{name}}씨는 여가시간이 부족한것같아요. TV를 시청하는것도 하나의 방법이랍니다.</p>
                    {% elif  anal_min1 == '식후복약'%}
                        <p>{{name}}씨는 복약시간이 안맞아요. 심지어는 빼먹는 경우도 많습니다. 다음부턴 복약 신경써서 해주세요!</p>
                    {% elif  anal_min1 == '실내운동'%}
                        <p>{{name}}씨는 운동시간이 부족해요! 미세먼지때문에 걱정이시라면 실내에서 가벼운 에어로빅으로 시작하시는것이 어떠세요??</p>
                    {% elif  anal_min1 == '아침식사'%}
                        <p>{{name}}씨는 음식을 잘 안드시고 출납하는경우가 많으세요. 꼭! 건강을 위해서 음식을 다먹도록 해주세요!</p>
                    {% elif  anal_min1 == '야식'%}
                        <p>{{name}}씨는 음식을 잘 안드시고 출납하는경우가 많으세요. 꼭! 건강을 위해서 음식을 다먹도록 해주세요!</p>
                    {% elif  anal_min1 == '음식데우기'%}
                        <p>{{name}}씨는 음식을 잘 안데우고 드시네요. 장건강에 찬음식은 좋지않답니다. 꼭 데워 드시는 습관을 기르시는게 좋을것같아요!</p>
                    {% elif  anal_min1 == '음식출납'%}
                        <p>{{name}}씨는 음식을 잘 안드시고 출납하는경우가 많으세요. 꼭! 건강을 위해서 음식을 다먹도록 해주세요!</p>
                    {% elif  anal_min1 == '이른기상'%}
                        <p>{{name}}씨는 수면이 부족한것같아요. 최소한 6시간을 숙면을 취해야 다음날 개운하게 생활할수있답니다! 오늘부턴 일찍 자보도록 해요.</p>
                    {% elif  anal_min1 == '이른기상, 새벽TV'%}
                        <p>{{name}}씨는 수면이 부족한것같아요. 최소한 6시간을 숙면을 취해야 다음날 개운하게 생활할수있답니다! 오늘부턴 일찍 자보도록 해요.</p>
                    {% elif  anal_min1 == '이른기상, 환기'%}
                        <p>{{name}}씨는 수면이 부족한것같아요. 최소한 6시간을 숙면을 취해야 다음날 개운하게 생활할수있답니다! 오늘부턴 일찍 자보도록 해요.</p>
                    {% elif  anal_min1 == '저녁식사'%}
                        <p>{{name}}씨는 음식을 잘 안드시고 출납하는경우가 많으세요. 꼭! 건강을 위해서 음식을 다먹도록 해주세요!</p>
                    {% elif  anal_min1 == '전자레인지청소'%}
                        <p>{{name}}씨는 전자레인지 청소한지가 너무 오래됐답니다. 주기적으로 전자레인지 내부를 청소해줘야 청결하게 식사를 하실수 있어요!</p>
                    {% elif  anal_min1 == '점심식사'%}
                        <p>{{name}}씨는 음식을 잘 안드시고 출납하는경우가 많으세요. 꼭! 건강을 위해서 음식을 다먹도록 해주세요!</p>
                    {% elif  anal_min1 == '프로그램 참여'%}
                        <p>{{name}}씨는 여가활동시간이 부족해요! 저희가 특별히 마련한 프로그램에 참여해보시는게 어떠세요??</p>
                    {% elif  anal_min1 == '환기'%}
                        <p>{{name}}씨는 창문 여는 시간이 매우 부족해요. 특히 요리후에는 꼭 실내 환기를 시켜줘야 건강을 유지할수있답니다.</p>
                    {% elif  anal_min1 == '휴식, 외출'%}
                        <p>{{name}}씨는 휴식이 부족해요! 운동도 좋고 집안일도 좋지만 가끔은 아무것도 없이 푹 쉬는것도 중요하답니다!</p>
                    {% endif %}
                </h2>
            </div>
        </div>
    </div>
</body>
{% endblock content %}